<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta lang="es">
        <style>
            body {
                background-image: url("./images/background.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
        </style>
    </head>
    <body>
        <div align="center">
            <h1>Navigation Index</h1>
        </div>
        <div align="left">
            <p>Estas son las estructuras de las url necesarias para navegar:</p>
        </div>
        <div>
            <ul>
                <li>localhost:8080/users/(one o all) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; //Te permite ver los usarios por su id o ver todos los usarios con all//</li>
                <li>localhost:8080/user/create &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//Te permite crear un nuevo usario//</li>
                <li>localhost:8080/user/update/?id=(id del usario)  //Te lleva a un formulario en donde deveras llenar todos los nuevos datos sin dejar alguna casilla en blanco//</li>
                <li>localhost:8080/user/delete/?id=(id del usario)  //Te permite borrar un usario atravez de su id//</li>
            </ul>
        </div>
    </body>
    <footer>
        <div align="center">
            <h3>Created By: cfabrica46</h3>
        </div>
    </footer>
</html>